{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "plugins": [
        "react",
        "react-native"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-native/all"
    ],
    "rules": {
        "quotes": ["error", "single"],
        "indent": ["error", 2],
        "no-console": "off"
    },
    "ecmaFeatures":{
        "modules": true
    },
    "allow": ["warn", "error"]
}